# 16. 과일로 만든 아이스크림 고르기

In [2]:
import pandas as pd

# 데이터 load
df16_1 = pd.read_csv('../datasets/FIRST_HALF.csv')
df16_2 = pd.read_csv('../datasets/ICECREAM_INFO.csv')

# 데이터 합치기
df16 = pd.merge(df16_1, df16_2, how='inner', on='FLAVOR')

# 조건 뽑아내기
df16.loc[(df16['TOTAL_ORDER'] >= 3000) & (df16['INGREDIENT_TYPE'] == 'fruit_based')].sort_values(by=['TOTAL_ORDER'], ascending=False)['FLAVOR']

4    strawberry
Name: FLAVOR, dtype: object

# 17. 평균 일일 대여 요금 구하기

In [4]:
df17 = pd.read_csv('../datasets/CAR_RENTAL_COMPANY_CAR.csv', encoding='cp949')

average_fee = round(df17.loc[df17['car_type'] == 'SUV']['daily_fee'].mean())
pd.DataFrame([average_fee], columns=['AVERAGE_FEE'])

   AVERAGE_FEE
0        93727

# 18. 특정 옵션이 포함된 자동차 리스트 구하기

In [6]:
df18 = pd.read_csv('../datasets/CAR_RENTAL_COMPANY_CAR.csv', encoding='cp949')
df18.loc[df18['options'].str.contains('네비게이션')].sort_values('car_id', ascending=False)

    car_id car_type  daily_fee                            options
27      28      리무진     298000  주차감지센서,스마트키,네비게이션,열선시트,후방카메라,가죽시트
22      23       세단      50000                    스마트키,네비게이션,열선시트
12      13      승합차     144000                              네비게이션

# 19. Python 개발자 찾기

In [8]:
df19 = pd.read_csv('../datasets/DEVELOPER_INFOS.csv')
df19[df19[['SKILL_1','SKILL_2','SKILL_3']].apply(lambda x : 'Python' in x.values, axis=1)].sort_values(by='ID', ascending=True)[['ID','EMAIL','FIRST_NAME','LAST_NAME']]

     ID                     EMAIL FIRST_NAME   LAST_NAME
4  D162  cade_cunningham@grepp.co       Cade  Cunningham
0  D165   jerami_edwards@grepp.co     Jerami     Edwards

# 20. 조건에 부합하는 중고거래 댓글 조회하기

In [10]:
df20_1 = pd.read_csv('../datasets/USED_GOODS_BOARD.csv', encoding='cp949')
df20_2 = pd.read_csv('../datasets/USED_GOODS_REPLY.csv', encoding='cp949')
df20 = pd.merge(df20_1, df20_2, how='right', on='BOARD_ID')

df20['CREATED_DATE_x'] = pd.to_datetime(df20['CREATED_DATE_x'], format='mixed')
df20['CREATED_DATE_y'] = pd.to_datetime(df20['CREATED_DATE_y'], format='mixed')

df20 = df20.loc[(df20['CREATED_DATE_x'].dt.year == 2022) & (df20['CREATED_DATE_x'].dt.month == 10)]
df20[['TITLE', 'BOARD_ID', 'REPLY_ID', 'CONTENTS_y', 'CREATED_DATE_y']].sort_values(by=['CREATED_DATE_y', 'TITLE'], ascending=[True,True])

,TITLE,BOARD_ID,REPLY_ID,CONTENTS_y,CREATED_DATE_y
0,반려견 배변패드 팝니다,B0001,R000000001,구매하겠습니다. 쪽지 드립니다.,2022-10-02
1,국내산 볶음참깨,B0002,R000000002,쪽지 주세요.,2022-10-03
2,제습기 가져가세요,B0006,R000000003,삽니다. 연락주세요.,2022-10-03
5,아이폰14프로 256기가 자급제팔아요,B0011,R000000006,쪽지 주세요.,2022-10-05
6,에어팟 프로 팔아요,B0012,R000000007,삽니다.,2022-10-06
3,커피글라인더,B0007,R000000004,예약중,2022-10-06
4,선반 팝니다,B0009,R000000005,구매완료,2022-10-07
7,아이리버 CD플레이어,B0015,R000000008,쪽지 연락주세요.,2022-10-07
8,캔들워머,B0016,R000000009,쪽지 드렸습니다.,2022-10-10
10,두유,B0025,R000000011,구매하겠습니다. 쪽지 연락주세요.,2022-10-12
9,아기옷,B0021,R000000010,거래 완료,2022-10-12
11,푸쉬업바,B0026,R000000012,쪽지 연락주세요.,2022-10-14
12,엔진오일,B0027,R000000013,네고 가능한가요?,2022-10-15
13,카샴푸,B0028,R000000014,팔렸나요?,2022-10-15
15,나이키 숏패팅,B0036,R000000016,쪽지 연락주세요.,2022-10-23
14,칼라거펠트 코트,B0034,R000000015,구매하겠습니다.,2022-10-23
16,사과 한박스,B0055,R000000017,쪽지 바랍니다.,2022-10-31